<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="/node_modules/foundation-sites/dist/css/foundation.css">
  <link rel="stylesheet" type="text/css" href="/node_modules/foundation-sites/dist/css/foundation-float.css">
  <link rel="stylesheet" type="text/css" href="/css/foundation-custom.css">
</head>
<body>
  <div id="content">
    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="large-4 medium-6 small-12 cell callout form-section">
          <div class="grid-x grid-padding-x">
            <div class="large-12 medium-12 small-12 text-center header">
              <h1> SIGN IN </h1>
            </div>
            <div class="large-12 columns cell">
              <form>
                <div class="grid-x grid-padding-x">
                  <div class="large-12 medium-12 cell">
                    <input type="text" id="email" placeholder="Enter Email">
                  </div>
                  <div class="large-12 medium-12 cell">
                    <input type="password" id="password" placeholder="Enter Password">
                  </div>
                  <div class="large-12 medium-12 cell">
                    <a class="button primary login-btn" href="#" onclick="login()">Login</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="grid-x grid-padding-x sign-section">
            <div class="large-12 small-12 text-center last-text">
              <span>Don't have an account ?
                <a href="/signup" class="large-12">Signup</a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="application/javascript">
    const authorizationHeader = "Authorization";

    function login() {
      let xhr = new XMLHttpRequest();
      let loginData = {
        email : document.getElementById("email").value,
        password : document.getElementById("password").value
      }

      xhr.onload = function () {
        if (xhr.readyState === xhr.DONE) {
          if (xhr.status === 200 || xhr.status === 201) {
            let json = JSON.parse(xhr.response);
            let token = json.response.token;
            sessionStorage.setItem(authorizationHeader, token);
            goHome(token);
          } else {
            console.log("로그인 실패 : " + xhr.responseText);
          }
        }
      };

      xhr.open("POST", "/api/login");
      xhr.setRequestHeader("Content-Type", "application/json");
      xhr.send(JSON.stringify(loginData));
    }

    function goHome(token) {
      location.href = "/?token=" + token;
    }

  </script>
</body>
</html>