<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

  <div id="content">
    <form>
      <label>ID</label><input type="text" id="email" name="email"><br>
      <label>PW</label><input type="password" id="password" name="password"><br>
      <button type="button" id="login-button" onclick="login()">로그인</button>
    </form>
  </div>

  <script type="application/javascript">
    const authorizationHeader = "Authorization";

    function login() {
      let xhr = new XMLHttpRequest();
      let loginData = {
        email : document.getElementById("email").value,
        password : document.getElementById("password").value
      }

      xhr.onload = function () {
        if (xhr.readyState === xhr.DONE) {
          if (xhr.status === 200 || xhr.status === 201) {
            let json = JSON.parse(xhr.response);
            let token = json.response.token;
            sessionStorage.setItem(authorizationHeader, token);
            goHome();
          } else {
            console.log("로그인 실패 : " + xhr.responseText);
          }
        }
      };

      xhr.open("POST", "/api/login");
      xhr.setRequestHeader("Content-Type", "application/json");
      xhr.send(JSON.stringify(loginData));
    }

    function goHome() {
      let xhr = new XMLHttpRequest();

      xhr.onload = function () {
        if (xhr.readyState === xhr.DONE) {
          if (xhr.status === 200 || xhr.status === 201) {
            changePage(xhr.response);
          }
        }
      }


      xhr.open("GET", "/");
      xhr.setRequestHeader(authorizationHeader, sessionStorage.getItem(authorizationHeader));
      xhr.send();
    }

    function changePage(response) {
      let parsedHtml = new DOMParser().parseFromString(response, "text/html");
      let content = parsedHtml.getElementById("content").innerHTML;
      document.getElementById("content").innerHTML = content;
    }
  </script>
</body>
</html>