<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="/node_modules/foundation-sites/dist/css/foundation.css">
  <link rel="stylesheet" type="text/css" href="/node_modules/foundation-sites/dist/css/foundation-float.css">
  <link rel="stylesheet" type="text/css" href="/css/foundation-custom.css">
  <style>
    .form-section {
      transform: translate(-50%, 25%);
    }
  </style>
</head>
<body>
  <div id="content">
    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="large-4 medium-6 small-12 cell callout form-section">
          <div class="grid-x grid-padding-x">
            <div class="large-12 medium-12 small-12 text-center header">
              <h1> SIGN UP </h1>
            </div>
            <div class="large-12 columns cell">
              <form>
                <div class="grid-x grid-padding-x">
                  <div class="large-12 medium-12 cell">
                    <label class="text-left">Input Email
                      <input type="text" id="email" placeholder="Enter Email">
                    </label>
                  </div>
                  <div class="large-12 medium-12 cell">
                    <label class="text-left">Input Username
                      <input type="text" id="username" maxlength="50" placeholder="Enter Username">
                    </label>
                  </div>
                  <div class="large-12 medium-12 cell">
                    <label class="text-left">Input Nickname
                      <input type="text" id="nickname" maxlength="50" placeholder="Enter Nickname">
                    </label>
                  </div>
                  <div class="large-12 medium-12 cell">
                    <label class="text-left">Input Password
                      <input type="password" id="password" maxlength="100" placeholder="Enter Password">
                    </label>
                  </div>
                  <div class="large-12 medium-12 cell">
                    <label class="text-left">Confirm Password
                      <input type="password" id="confirm-password" maxlength="100" placeholder="Enter Password">
                    </label>
                  </div>
                  <div class="large-12 medium-12 cell">
                    <a class="button primary login-btn" href="#">Sign Up</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="application/javascript">
    const authorizationHeader = "Authorization";

    function signup() {
      let xhr = new XMLHttpRequest();
      let joinData = {
        email : document.getElementById("email").value,
        password : document.getElementById("password").value
      }

      xhr.onload = function () {
        if (xhr.readyState === xhr.DONE) {
          if (xhr.status === 200 || xhr.status === 201) {
            let json = JSON.parse(xhr.response);
            let token = json.response.token;
            sessionStorage.setItem(authorizationHeader, token);
            goHome();
          } else {
            console.log("로그인 실패 : " + xhr.responseText);
          }
        }
      };

      xhr.open("POST", "/api/join");
      xhr.setRequestHeader("Content-Type", "application/json");
      xhr.send(JSON.stringify(joinData));
    }

    function goLoginForm() {
      location.href = "/login";
    }

  </script>
</body>
</html>