<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SignUp</title>
  <link rel="stylesheet" type="text/css" href="/node_modules/foundation-sites/dist/css/foundation.css">
  <link rel="stylesheet" type="text/css" href="/node_modules/foundation-sites/dist/css/foundation-float.css">
  <link rel="stylesheet" type="text/css" href="/css/foundation-custom.css">
  <style>
    .form-section {
      transform: translate(-50%, 25%);
    }
  </style>
</head>
<body>
  <div id="content">
    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="large-4 medium-6 small-12 cell callout form-section">
          <div class="grid-x grid-padding-x">
            <div class="large-12 medium-12 small-12 text-center header">
              <h1> SIGN UP </h1>
            </div>
            <div class="large-12 columns cell">
              <form>
                <div class="grid-x grid-padding-x">
                  <div class="large-12 medium-12 cell">
                    <label class="text-left">Input Email
                      <input type="text" id="email" placeholder="Enter Email">
                      <div class="hide" id="email-error-box">
                        <p id="duplicate-message" style="color: indianred;"></p>
                      </div>
                    </label>
                  </div>
                  <div class="large-12 medium-12 cell">
                    <label class="text-left">Input Username
                      <input type="text" id="username" maxlength="50" placeholder="Enter Username">
                    </label>
                  </div>
                  <div class="large-12 medium-12 cell">
                    <label class="text-left">Input Nickname
                      <input type="text" id="nickname" maxlength="50" placeholder="Enter Nickname">
                    </label>
                  </div>
                  <div class="large-12 medium-12 cell">
                    <label class="text-left">Input Password
                      <input type="password" id="password" maxlength="100" placeholder="Enter Password">
                    </label>
                  </div>
                  <div class="large-12 medium-12 cell">
                    <label class="text-left">Confirm Password
                      <input type="password" id="confirm-password" maxlength="100" placeholder="Enter Password">
                    </label>
                  </div>
                  <div class="large-12 medium-12 cell">
                    <a class="button primary login-btn" href="#" onclick="signup()">Sign Up</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="application/javascript">
    function signup() {
      if (!validate()) return;

      let xhr = new XMLHttpRequest();
      let joinData = {
        email : document.getElementById("email").value,
        username : document.getElementById("username").value,
        nickname : document.getElementById("nickname").value,
        password : document.getElementById("password").value
      }

      xhr.onload = function () {
        if (xhr.readyState === xhr.DONE) {
          if (xhr.status === 200 || xhr.status === 201) {
            goLoginForm();
          } else {
            var response = JSON.parse(xhr.response);
            console.log("로그인 실패 : " + response.error.message);
            document.getElementById("duplicate-message").innerText = response.error.message;
            document.getElementById("email-error-box").classList.remove("hide");
          }
        }
      };

      xhr.open("POST", "/api/join");
      xhr.setRequestHeader("Content-Type", "application/json");
      xhr.send(JSON.stringify(joinData));
    }

    function validate() {
      let email = document.getElementById("email").value;
      let username = document.getElementById("username").value;
      let nickname = document.getElementById("nickname").value;
      let password = document.getElementById("password").value;
      let confirmPassword = document.getElementById("confirm-password").value;

      if (isEmpty(email)) {
        alert("email을 입력해주세요.");
        return false;
      }
      if (isEmpty(username)) {
        alert("username을 입력해주세요.");
        return false;
      }
      if (isEmpty(nickname)) {
        alert("nickname을 입력해주세요.");
        return false;
      }
      if (isEmpty(password)) {
        alert("password을 입력해주세요.");
        return false;
      }
      if (password != confirmPassword) {
        alert("password가 일치하지 않습니다.");
        return false;
      }

      return true;
    }

    function goLoginForm() {
      location.href = "/login";
    }

    function isEmpty(value) {
      if (value === null) return true;
      if (typeof value === 'undefined') return true;
      if (typeof value === 'string' && value === '') return true;

      return false;
    }
  </script>
</body>
</html>